$color_primary : #499A18;
$color_additional : #E06733;
$color_background : #EDF2EC;
$color_nav : #010201;
$color_title: #717171;
$color_text : #636060;
$color_add : #E06733;
$color_black : #000000;   
$color_border : #E3E1D5;




$content_width : 1222px;