//Colors
$color_primary : #499A18;
$color_additional : #E06733;
$color_background : #EDF2EC;
$color_nav : #010201;
$color_title: #717171;
$color_text : #636060;
$color_add : #E06733;
$color_black : #000000;
$color_border : #E3E1D5;
$color_dropdown_bg: #D6E7D2;
$color_arrow_bg_prices: #D9D9D9;
$color_arrow_bg_contact: #AEA1A1;
$color_menu_bg: #C1E698;


//Widths
$content_width : 1222px;
$tablet-width: 768px;
$burger-width: 680px;
$mobile-big-width: 380px;