.footer {
    padding: 40px 0px;
    @include media-tablet {
        padding: 32px 0px;  
    }
    @include media-mobile {
        padding: 22px 0px;  
    }
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color_black;
    @include font(2rem, 5rem);
    @include media-tablet {
        flex-direction: column;
        align-items: center;
        gap: 17px;
        @include font(2rem, 2.4rem);
    }
    @include media-mobile {
        gap: 14px;
    }
}

.copyright__text {
    padding-right: 15px;
    &:last-child {
        padding-right: 0px;
    } 
}

.footer__link {
    text-decoration: none;
    color: $color_black;
    @extend %transition;
    &:hover{
        color: $color_additional;
    }
}

.footer__school {
    padding-left: 18px;
    @include media-tablet {
        padding: 0;
    }
    @include media-mobile {
        padding-top: 2px;
    }
}

.footer__social-links {
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include media-tablet { 
        padding-top: 8px;
    }
    @include media-mobile {
        padding-top: 0;
    }
}

.social__item {
    margin-left: 20px;
    list-style: none;
    &:first-child {
        margin-left: 0px;
    }
}

.social__link {
    display: block;
    cursor: pointer;
}

.social__link svg{
    width: 32px;
    height: 32px;
    fill: #000;
    @extend %transition;
}

.social__link svg:hover{
    fill: $color_additional;
}