.button {
    width: 162px;
    padding: 11px 0px;
    
    @extend %font-additional;
    @include font(2rem, 2.6rem);
    color: $color_additional;
    @extend %transition;
    
    border: 1px solid $color_additional;
    border-radius: 5px;
    background: none;
    
    cursor: pointer;

    &_welcome {
        width: 158px;
        padding: 10px 0;
        @include font(1.6rem, 2rem, 400);
        @extend %font-primary;
        text-transform: uppercase;
        border: 2px solid $color_additional;
        border-radius: 10px;
        color: $color_black;

        &:hover {
            background: $color_additional;
            color: white;
        }
    }

    &_bold {
        font-weight: bold;
        padding-right: 3px;
    }

    &_service {
        width: 161px;
        
    }



}











