.button {
    width: 161px;
    @extend %font-additional;
    @include font(2rem, 2.6rem);
    color: $color_additional;
    @extend %transition;
    
    border: 1px solid $color_additional;
    border-radius: 5px;
    padding: 12px 0px;
    background: none;
}

.button_welcome {
    
    padding: 14px 27px;
    @include font(1.6rem, 2rem);
    @extend %font-primary;
    text-transform: uppercase;
    border: 2px solid $color_additional;

}

.button_welcome:hover {
    background: $color_additional;
    color: white;
    
}

.button_bold {
    font-weight: bold;
}





