.button {
    width: 162px;
    padding: 11px 0px;
    @extend %font-additional;
    @include font(2rem, 2.6rem);
    color: $color_additional;
    text-align: center;
    background: none;
    border: 1px solid $color_additional;
    border-radius: 5px;
    @extend %transition;
    cursor: pointer;
    &:hover {
        background: $color_additional;
        color: white;
    }
    @include media-mobile 
    {
        width: 121px;
        @include font(1.5rem, 2rem);
        padding: 7px 0 6px;
    }
    &_welcome {
        width: 158px;
        padding: 10px 0;
        @include font(1.6rem, 2rem);
        @extend %font-primary;
        text-transform: uppercase;
        color: $color_black;
        border: 2px solid $color_additional;
        border-radius: 10px;
        @include media-mobile  { 
            width: 100px;
            padding: 5px 0;
            @include font(1rem, 2rem);
        }
    }
    &_bold {
        font-weight: bold;
        padding-right: 3px;
    }
    &_service {
        width: 161px;
        @include media-mobile  { 
            width: 121px;
        }
    }

    &_call {
        width: 122px;
        height: 26px;
        padding: 0;
        margin-top: 10px;
        @include font(1rem, 1.3rem, 700);
        color: $color_title;
    }


    &.button-on {
        background: $color_additional;
        color: white;
    }
    &.button-inactive {
        background:none;
        color: $color_title;
        border-color: $color_title;
        cursor: auto;
        &:hover {
            background: none;
            color: $color_title;
        }
    }

}





.button__price{
    width: 86px;
    height: 25px;
    
    background: white;
    color: $color_title;
    @extend %font-primary;
    @include font(1.4rem, 2rem, 700);
    text-align: center;
    
    border-radius: 10px;
    border: none;
}












