.about__wrapper {
    padding-top: 93px;
    padding-bottom: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-tablet  {
        padding-top: 40px;
        padding-bottom: 89px;
        flex-direction: column;
        align-items: center;
    }

    @include media-mobile  {
        padding-top: 30px;
        padding-bottom: 21px;
    }


}

.about__content {
    padding-top: 68px;
    @include media-tablet  {
        padding-top: 0px;
        padding-bottom: 68px;
    }

    @include media-mobile  {
        padding: 0;
    }
}

.about__title {
    max-width: 463px;
    padding-bottom: 38px;
    @include media-tablet  {
        max-width: 423px;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }

    @include media-mobile  { 
        max-width: 100%;
        padding-bottom: 13px;
    }
}

.title__colored {
    color: $color_additional;
}

.about__text {
    max-width: 605px;
    @include font(2rem, 3rem);
    color: $color_text;
    @include media-tablet  {
        max-width: 100%;
    }

    @include media-mobile  {
        @include font(1.5rem, 2.5rem);
    }
}

.img-plant {
    @include media-tablet  {
        width: 250px;
        height: 258px;
    }

    @include media-mobile  {
        width: 45.5%;
        height: 45.5%;
       
    }
}

.about__img {
    @include media-mobile  {
        text-align: center;

    }
}