.about__wrapper {
    padding: 93px 0px 88px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__content {
    padding-top: 68px;

}

.about__title {
    max-width: 463px;
    padding-bottom: 38px;
}

.title__colored {
    color: $color_additional;
}

.about__text {
    max-width: 605px;
    @include font(2rem, 3rem);
    color: $color_text;

}