.about__wrapper {
    padding-top: 92px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-tablet  {
        padding-top: 40px;
        padding-bottom: 95px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    @include media-mobile  {
        padding-top: 30px;
        padding-bottom: 27px;
    }
}

.about__content {
    padding-top: 68px;
    flex-basis: 50%;
    @include media-tablet  {
        flex-basis: none;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 68px;
    }
    @include media-mobile  {
        padding: 0;
    }
}

.about__title {
    padding-right: 38px;
    padding-bottom: 38px;
    @include media-tablet  {
        margin: 0 auto;
        padding: 0 70px 50px;
        text-align: center;
    }
    @include media-burger {
        padding: 0 25px 50px;
    } 
    @include media-mobile  { 
        padding: 0 0 13px;
    }
}

.title__colored {
    color: $color_additional;
}

.about__text {
    padding: 0;
    margin: 0;
    @include font(2rem, 3rem);
    color: $color_text;
    @include media-mobile  {
        @include font(1.5rem, 2.5rem);
    }
}

.about__img {
    flex-basis: 38.2%;
    height: 480px;
    flex-shrink: 0.6;
    background-image: url("../assets/img/about-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    @include media-tablet  { 
        flex-basis: 258px;
        width: 250px;
    }
    @include media-mobile  {
        text-align: center;
        flex-basis: 155px;
        background-position: center;
    }
}