.contact-us {
    padding-top: 53px;
    background: $color_background;
    @include media-tablet {
        padding-top: 40px;
    }
    @include media-mobile {
        padding-top: 25px;
    }
}

.contact-us__wrapper {
    padding-bottom: 89px;
    text-align: right;
    background-image: url("./../assets/img/contact/woman.png");
    background-repeat: no-repeat;

    @include media-tablet {
        padding-bottom: 234px;
        text-align: center;
        background-size: 26%;
        background-position: 51.7% 100%;
    }
    @include media-mobile {
        padding-bottom: 0;
        text-align: center;
        background-size: 26.2%;
        background-position: 49.2% 100%;
    }

    &.city-selected {
        @include media-mobile {
            background-image: none;
        }

        .adress__info {
            display: block;
        } 

        .contact-us__select {
            background: $color_menu_bg;
            box-shadow: none;
        }

        .select__arrow {
            background-color: $color_arrow_up_bg;
        }

        .select__title {
            @include font(1.6rem, 2rem);
        }

        .contact-us__wrapper {
            background-image: none;
        }
    }

    &.select-opened {
        
        .select__dropdown {
            display: block;
        }

        .contact-us__select {
            background: $color_menu_bg;
            box-shadow: none;
        }
        
        .select__arrow {
            
            background-image: url("../assets/img/arrow-up.svg");
            background-color: $color_arrow_up_bg;
        }
    }

}

.contact-us__title {
    padding: 7px 5px 36px 0;
    text-align: center;
    font-weight: bold;
    @include media-tablet {
        padding: 0;
        padding-bottom: 99px;
        @include font(4rem, 5.2rem, 700);
    }
    @include media-mobile {
        padding-bottom: 80px;
        @include font(2.5rem, 3.3rem, 700);
    }
    
}

.contact-us__content {
    text-align: right;
    display: inline-block; 
    position: relative;
    height: 307px;
    @include media-burger {
        width: 92%;
    }
    
}

.contact-us__select {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color_dropdown_bg;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    @include media-tablet {
        margin: 0 auto;
    }
    @include media-burger {
        width: 100%;
    }
    @include media-mobile  { 
    }
}

.select__title {
    padding: 5px 20px;
    @include font(2rem, 4rem);
    letter-spacing: 0.05em;
    color: $color_title;
}

.select__arrow {
    width: 16px;
    height: 16px;
    margin-right: 35px;
    background: $color_arrow_bg_contact;
    background-image: url("../assets/img/arrow-down-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
    @include media-mobile {
        margin-right: 20px;
    }
}

.select__dropdown {
    display: none;
    position: absolute;
    width: 450px;
    top: 50px;
    padding: 30px 50px 10px 20px;
    text-align: left;
    background: $color_select_dropdown_bg;
    @include media-burger {
        width: 100%;
    }
}

.select__city-item {
    padding-left: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid $color_arrow_bg_prices;
    @include font(1.6rem, 4rem);
    letter-spacing: 0.05em;
    color: $color_primary;
    cursor: pointer;
    &:hover {
        color: $color_title;
        border-bottom: 1px solid $color_title;
    }
    
}

.adress__info {
    display: none;
    width: 448px;
    margin-top: 30px;
    padding: 17px 33px 32px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
    @include media-tablet {
        width: 100%;
    }

    @include media-burger {
        //padding: 10px 20px 20px;                      
    }

    @include media-mobile {
        margin-bottom: 20px;                    
    }
}

.adress__line {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    & p {
        flex-basis: 32%;
        @include font(1.6rem, 4rem);
        letter-spacing: 0.05em;
        color: #000000;
        @include media-mobile {
            padding: 5px 0;
            @include font(1.6rem, 2rem);
        }
    }
    & span {
        @include font(1.6rem, 4rem);
        letter-spacing: 0.05em;
        color: $color_title;
        @include media-mobile {
            @include font(1.6rem, 2rem);
        }
    }
}