
.navigation {
    width: 492px;
    padding-right: 1px;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    @extend %transition;
   
    @include media-mobile {
        padding: 26px 0 10px 25px;
        display: block;
        position: absolute;
        left: 0;
        top: -100%;
        background-color: darkkhaki;

        .header.open &{
            top:0;
        }
    }
}

.navigation__item {
    list-style: none;
}

.navigation__link {
    @include font(1.6rem, 5rem);
    text-decoration: none;
    @extend %font-additional;
    color: $color_nav;
    @extend %transition;
    &:hover {
        color: $color_additional;
        font-weight: 700;
    }
}