.prices__wrapper {
    padding-top: 39px;
    padding-bottom: 102px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    @include media-tablet {
        padding-bottom: 75px;
    }
    @include media-burger {
        padding-top: 25px;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
}

.prices__left-column {
    @include media-mobile  { 
        margin: 0 auto;
     }
}

.prices__title {
    padding-bottom: 60px;
    color: $color_black;
    @extend %font-primary;
    @include font(4rem, 4.8rem, bold);
    text-align: left;
    @include media-tablet {
        padding-bottom: 58px;
        padding-left: 15px;
        @include font(3.5rem, 4.2rem, bold);
    }
    @include media-mobile {
        padding-bottom: 37px;
        padding-left: 0;
        @include font(2.5rem, 3rem, bold);
        text-align: center;
    }
}

.prices__dropdowns {
    max-width: 332px;
    padding: 17px 0;
    border: 1px solid $color_border;
    border-radius: 20px;
    @include media-mobile  { 
       padding: 21px 0;
       max-width: 224px;
    }
}

.dropdown {
    width: 250px;
    padding: 16px 0 14px 0;
    margin: 16px 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    background: $color_background;
    border-radius: 20px;
    @include media-mobile  { 
        width: 180px;
        margin: 7px 18px;
    }
}

.dropdown__arrow {
    width: 16px;
    height: 16px;
    margin-right: 40px;
    background: $color_arrow_bg_prices;
    background-image: url("../assets/img/prices/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown__title {
    padding-left: 40px;
    @include font(2rem, 2rem, bold);
    color: $color_black;
    @include media-mobile {
        padding-left: 30px;
        @include font(1.5rem, 2rem, bold);
    }
}

.prices__right-column {
    text-align: end;
    @include media-tablet {
        padding-top: 101px;
    }
    @include media-burger  { 
        padding-top: 20px;
        text-align: center;
    }
}

.prices__subtitle {
    max-width: 452px;
    padding-bottom: 40px;
    @include font(4rem, 5rem, bold);
    color: $color_black;
    @include media-tablet {
        max-width: 296px;
        padding-bottom: 28px;
        @include font(2.5rem, 3.5rem, bold);
    }
    @include media-mobile {
        @include font(2rem, 3.5rem, bold);
        max-width: 230px;
        padding-bottom: 19px;
    }
}

.subtitle__colored {
    color: $color_primary;
}

.prices__img {
    padding-top: 39px;
    display: inline-block;
    @include media-tablet {
        padding-top: 34px;
    }
    @include media-burger {
        display: none;
    }
}