.prices__wrapper {
    padding: 39px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-tablet {
        padding-bottom: 75px;
    }
    @include media-burger {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
}

.prices__left-column {
    @include media-mobile  { 
        margin: 0 auto;
     }
}

.prices__title {
    padding-bottom: 60px;
    color: $color_black;
    @extend %font-primary;
    @include font(4rem, 4.8rem, bold);
    text-align: left;
    @extend %transition;
    @include media-tablet {
        padding-bottom: 58px;
        padding-left: 15px;
        @include font(3.5rem, 4.2rem, bold);
    }
    @include media-burger {
        text-align: center;
    }
    @include media-mobile {
        padding-bottom: 37px;
        padding-left: 0;
        @include font(2.5rem, 3rem, bold);
    }
}

.prices__dropdowns {
    max-width: 332px;
    padding: 17px 0;
    border: 1px solid $color_border;
    border-radius: 20px;
    @extend %transition-long;
    @include media-mobile  { 
       padding: 21px 0;
       max-width: 224px;
    }
}

.dropdown {
    width: 250px;
    margin: 16px 40px;
    padding: 16px 40px;
    background: $color_background;
    border-radius: 20px;
    @extend %transition-long;

    @include media-mobile  { 
        width: 180px;
        margin: 7px 18px;
    }

   
}

.dropdown__description {
    display: none;
}
.dropdown__price {
    display: none;
}
.button__price {
    display: none;
    cursor: pointer;
    @extend %transition;

    &:hover {
        background: $color_additional;
        color: white;
    }

}

.dropdown__link {
    text-decoration: none;
}

.dropdown__header {
   
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: left;
}


.dropdown__arrow {
    width: 16px;
    height: 16px;
    background: $color_arrow_bg_prices;
    background-image: url("../assets/img/prices/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown__title {
    @include font(2rem, 2rem, bold);
    color: $color_black;
    @include media-mobile {
        padding-left: 30px;
        @include font(1.5rem, 2rem, bold);
    }
}


.dropdown-opened {

    background: $color_dropdown_bg;
    @extend %transition-long;

    .dropdown__description {
        display: block;
    }
    .dropdown__price {
        display: block;
    }
    .button__price {
        display: block;
    }


}

.dropdown__description {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 6px;
    margin-top: 10px;
    @include font(1rem, 1rem, 300);
    color: $color_title;
    text-align: left;
    border-top: 0.5px solid $color_arrow_bg_contact; 
}

.dropdown__price {
    padding-bottom: 6px;
    @include font(1.2rem, 2rem, 700);
    color: $color_additional;

}

.price__value {
    @include font(1.6rem, 2rem, 700);
}

.price__hour {
    color: $color_black;
    @include font(1.2rem, 2rem, 400);
}

.prices__right-column {
    text-align: end;
    padding-bottom: 63px;
    @include media-tablet {
        padding-top: 101px;
    }
    @include media-burger  { 
        padding-top: 20px;
        text-align: center;
    }
}

.prices__subtitle {
    max-width: 452px;
    padding-bottom: 40px;
    @include font(4rem, 5rem, bold);
    color: $color_black;
    @include media-tablet {
        max-width: 296px;
        padding-bottom: 28px;
        @include font(2.5rem, 3.5rem, bold);
    }
    @include media-mobile {
        @include font(2rem, 3.5rem, bold);
        max-width: 230px;
        padding-bottom: 19px;
    }
}

.subtitle__colored {
    color: $color_primary;
}

.prices__img {
    padding-top: 39px;
    display: inline-block;
    @include media-tablet {
        padding-top: 34px;
    }
    @include media-burger {
        display: none;
    }
}