.service {
    background: $color_background;
}

.service__header {
    display: flex;
    
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 25px;

    @include media-tablet  {
        padding-top: 60px;
        padding-bottom: 0px;
        flex-direction: column;
    }

}

.service__title {
    max-width: 306px;
    
}

.service__buttons {
    padding: 29px 0px 0px 142px;

    >.button {
        margin-left: 33px;
        &:first-child {
            margin-left: 0;
        }
    }

    @include media-tablet  {
        padding-top: 42px;
        padding-left: 0;
        
    }
}

.service__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 121px;
    @include media-tablet  {
        padding-bottom: 70px;
    }
}

.service__card {
    padding-top: 55px;
    @include media-tablet  {
        padding-top: 40px;
    }
}

.card__img {
    border-radius: 20px 20px 0px 0px;
    display: block;
    @include media-tablet  {
        display: none;
    }
}

.card__img-tablet {
    display: none;
    @include media-tablet  {
        display: block;
        border-radius: 20px 20px 0px 0px;
    }
}

.card__content {
    padding: 9px 0 35px 0;
    text-align: center;
    border: 1px solid $color_border;
    border-radius: 0px 0px 20px 20px;
    @include media-tablet  {
        padding: 10px 0 20px 0;
    }
    
}

.card__text {

    padding-top: 14px;
    @include font(1.6rem,2rem);
    color: $color_title;
    @include media-tablet  {
        max-width: 201px;
        padding-top: 10px;
        margin: 0 auto;
    }
}