.service {
    background: $color_background;
}

.service__header {
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include media-tablet  {
        padding-top: 60px;
        padding-bottom: 0px;
        flex-direction: column;
    }

    @include media-mobile  {
        padding-top: 30px;
    }
}

.service__title {
    max-width: 306px;

    @include media-mobile  {
        max-width: 187px;
    }

}

.service__buttons {
    padding: 29px 0px 0px 142px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 38px;
    /*>.button {
        margin-left: 33px;
        &:first-child {
            margin-left: 0;
        }
    }*/

    @include media-tablet  {
        gap: 37px;
        padding: 42px 0 40px;
    }

    @include media-mobile  { 
        padding-top: 38px;
        gap: 9px 10px;

    }
}

.service__cards {
    padding-bottom: 66px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include media-tablet  {
        padding-bottom: 32px;
    }

    @include media-mobile  { 
        padding-bottom: 27px;
        justify-content: center;
    }
}

.service__card {
    padding-bottom: 55px;

    @include media-tablet  {
        padding-bottom: 37px;
    }

    @include media-mobile  { 
        padding-bottom: 34px;
        &:last-child {
            padding-bottom: 0px;
        }
    }
}

.card__img {
    border-radius: 20px 20px 0px 0px;
    display: block;

    @include media-tablet  {
        display: none;
    }
}

.card__img-tablet {
    display: none;

    @include media-tablet  {
        display: block;
 
        border-radius: 20px 20px 0px 0px;
    }
}

.card__content {
    padding: 9px 0 35px 0;
    text-align: center;
    border: 1px solid $color_border;
    border-radius: 0px 0px 20px 20px;

    @include media-tablet  {
        padding: 8px 0 20px 0;
    }

    @include media-mobile  {
        padding: 9px 0 17px 0;
    }
}

.card__text {
    padding-top: 14px;
    @include font(1.6rem,2rem);
    color: $color_title;
    
    @include media-tablet  {
        max-width: 201px;
        padding-top: 11px;
        margin: 0 auto;
    }

    @include media-mobile  {
        padding-top: 12px;
    }
}