.welcome {
    background: $color_background;
}

.welcome__wrapper {
    padding-top: 53px;
    padding-bottom: 49px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-tablet  {
        padding-top: 33px;
        flex-direction: row-reverse;
        padding-bottom: 70px;
    }
    @include media-mobile  { 
        padding-top: 25px;
        padding-bottom: 24px;
    }
}

.welcome__img {
    flex-basis: 37%;
    height: 430px;
    flex-shrink: 0.6;
    background-image: url("../assets/img/welcome-leafs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include media-tablet  { 
        flex-basis: 42%;
        height: 270px;
    }
    @include media-burger {
        display: none;
    }
}

.welcome__content {
    flex-basis: 45%;
    padding-top: 44px;
    @include media-tablet {
        padding-top: 3px;
        flex-basis: 52%;
    }
    @include media-burger  { 
        flex-basis: 100%;
        padding-top: 0;
    }
}

.h1__colored {
    color: $color_primary;
}

.welcome__subtitle {
    max-width: 526px;
    padding: 44px 0px 47px 0px;
    @include font(2rem, 3.5rem);
    color: $color_text;
    @include media-tablet {
        padding: 31px 0 35px 5px;
        @include font(1.6rem, 2.5rem);
    }
    @include media-mobile  { 
        padding: 20px 0 26px;
        max-width: 100%;
    }
}



    

