.navigation__link:hover, .button {
  transition: all 0.3s ease-out;
}

.navigation__link, .logo__link, .button, h2 {
  font-family: "Inika", Verdana, sans-serif;
}

.prices__title, .button_welcome, body {
  font-family: "Inter", Verdana, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: bold;
  font-style: normal;
  color: #717171;
}

h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
  color: #499A18;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: normal;
  color: #E06733;
}

.button {
  width: 162px;
  padding: 11px 0px;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
.button_welcome {
  width: 158px;
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border: 2px solid #E06733;
  border-radius: 10px;
  color: #000000;
}
.button_welcome:hover {
  background: #E06733;
  color: white;
}
.button_bold {
  font-weight: bold;
  padding-right: 3px;
}
.button_service {
  width: 161px;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

.header {
  padding: 42px 0px;
  background: #EDF2EC;
}

.header__wrapper {
  padding-top: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.logo__link {
  color: #000000;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.footer {
  padding: 40px 0px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000000;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
}

.copyright__text {
  padding-right: 15px;
}

.copyright__link {
  text-decoration: none;
  color: #000000;
}

.footer__school {
  padding-left: 29px;
}

.footer__social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.social__item {
  list-style: none;
}

.footer__school {
  padding-left: 29px;
}

.social__icon {
  cursor: pointer;
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon_instagram {
  background-image: url("../assets/img/footer/instagram.svg");
}

.icon_fb {
  background-image: url("../assets/img/footer/fb.svg");
}

.icon_twitter {
  background-image: url("../assets/img/footer/twitter.svg");
}

.icon_pinterest {
  background-image: url("../assets/img/footer/pinterest.svg");
}

.welcome {
  background: #EDF2EC;
}

.welcome__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 49px;
}

.welcome__img {
  padding-top: 53px;
}

.welcome__content {
  max-width: 549px;
  padding-top: 97px;
}

.h1__colored {
  color: #499A18;
}

.welcome__subtitle {
  max-width: 526px;
  padding: 44px 0px 47px 0px;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}

.welcome__buttons {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}

.about__wrapper {
  padding: 93px 0px 88px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__content {
  padding-top: 68px;
}

.about__title {
  max-width: 463px;
  padding-bottom: 38px;
}

.title__colored {
  color: #E06733;
}

.about__text {
  max-width: 605px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}

.service {
  background: #EDF2EC;
}

.service__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 25px;
}

.service__title {
  max-width: 306px;
}

.service__buttons {
  padding: 29px 0px 0px 142px;
}
.service__buttons > .button {
  margin-left: 33px;
}
.service__buttons > .button:first-child {
  margin-left: 0;
}

.service__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 121px;
}

.service__card {
  padding-top: 55px;
}

.card__img {
  border-radius: 20px 20px 0px 0px;
  display: block;
}

.card__content {
  padding: 9px 0 35px 0;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.card__text {
  padding-top: 14px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #717171;
}

.prices__wrapper {
  padding: 39px 0 102px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.prices__title {
  padding-bottom: 60px;
  color: #000000;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: bold;
  font-style: normal;
}

.prices__dropdowns {
  max-width: 332px;
  padding: 1px 0;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.dropdown {
  width: 250px;
  padding: 16px 0 14px 0;
  margin: 32px 40px;
  background: #EDF2EC;
  border-radius: 20px;
}

.dropdown__arrow {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  background-image: url("../assets/img/prices/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: inline-block;
}

.dropdown__title {
  padding-left: 40px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.prices__right-column {
  text-align: end;
}

.prices__subtitle {
  max-width: 452px;
  padding-bottom: 40px;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.subtitle__colored {
  color: #499A18;
}

.prices__img {
  padding-top: 39px;
  display: inline-block;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #010201;
}

.navigation__link:hover {
  color: #E06733;
  font-weight: 700;
}

.item__wrapper {
  padding-left: 47px;
  text-align: center;
}

.contact-us {
  background: #EDF2EC;
  padding-top: 53px;
}

.contact-us__wrapper {
  height: 497px;
  background-image: url("./../assets/img/contact/woman.png");
  background-repeat: no-repeat;
}

.contact-us__title {
  text-align: center;
  padding: 7px 5px 36px 0;
  font-weight: bold;
}

.contact-us__cities {
  max-width: 450px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 352px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.city__title {
  padding: 5px 20px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #717171;
}

.city__arrow {
  width: 16px;
  height: 16px;
  background: #AEA1A1;
  background-image: url("../assets/img/contact/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: inline-block;
}

.contact-us {
  background: #EDF2EC;
  padding-top: 53px;
}

.contact-us__wrapper {
  height: 497px;
  background-image: url("./../assets/img/contact/woman.png");
  background-repeat: no-repeat;
}

.contact-us__title {
  text-align: center;
  padding: 7px 5px 36px 0;
  font-weight: bold;
}

.contact-us__cities {
  max-width: 450px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 352px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.city__title {
  padding: 5px 20px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #717171;
}

.city__arrow {
  width: 16px;
  height: 16px;
  background: #AEA1A1;
  background-image: url("../assets/img/contact/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */