.navigation__link, .navigation, .header__burger:before,
.header__burger:after, .header__burger, .button {
  transition: all 0.3s ease-out;
}

.navigation__link, .logo__link, .button, h2 {
  font-family: "Inika", Verdana, sans-serif;
}

.prices__title, .button_welcome, body {
  font-family: "Inter", Verdana, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: bold;
  font-style: normal;
  color: #717171;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: bold;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: bold;
    font-style: normal;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
  color: #499A18;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
    line-height: 4.6rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 400;
    font-style: normal;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: normal;
  color: #E06733;
}

.button {
  width: 162px;
  padding: 11px 0px;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
  color: #E06733;
  text-align: center;
  background: none;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: #E06733;
  color: white;
}
@media (max-width: 380px) {
  .button {
    width: 121px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    padding: 7px 0 6px;
  }
}
.button_welcome {
  width: 158px;
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #E06733;
  border-radius: 10px;
}
@media (max-width: 380px) {
  .button_welcome {
    width: 100px;
    padding: 5px 0;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}
.button_bold {
  font-weight: bold;
  padding-right: 3px;
}
.button_service {
  width: 161px;
}
@media (max-width: 380px) {
  .button_service {
    width: 121px;
  }
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
}
@media (max-width: 1222px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    padding: 0 25px;
  }
}

.header {
  padding: 43px 0px 42px;
  background: #EDF2EC;
}
@media (max-width: 1222px) {
  .header {
    padding: 36px 0 35px;
  }
}
@media (max-width: 380px) {
  .header {
    padding: 34px 0 35px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 380px) {
  .header__wrapper {
    align-items: flex-start;
  }
}

.header__logo {
  padding-left: 1px;
}
@media (max-width: 380px) {
  .header__logo {
    padding: 0;
  }
}

.logo__link {
  padding-bottom: 3px;
  color: #000000;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.header__burger {
  display: none;
  z-index: 2;
}
@media (max-width: 380px) {
  .header__burger {
    content: "";
    width: 40px;
    height: 26px;
    display: block;
    position: relative;
    background-image: url("./../assets/img/burger.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
  }
  .header.open .header__burger {
    background-image: none;
  }
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #717171;
  position: absolute;
  width: 100%;
  height: 2px;
}

.header__burger:before {
  top: 0;
}
.header.open .header__burger:before {
  top: 45%;
  transform: rotate(45deg);
}

.header__burger:after {
  bottom: 0;
}
.header.open .header__burger:after {
  bottom: 45%;
  transform: rotate(-45deg);
}

.footer {
  padding: 40px 0px;
}
@media (max-width: 768px) {
  .footer {
    padding: 32px 0px;
  }
}
@media (max-width: 380px) {
  .footer {
    padding: 22px 0px;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000000;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 17px;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .footer__wrapper {
    gap: 14px;
  }
}

.copyright__text {
  padding-right: 15px;
}
.copyright__text:last-child {
  padding-right: 0px;
}

.footer__link {
  text-decoration: none;
  color: #000000;
}

.footer__school {
  padding-left: 18px;
}
@media (max-width: 768px) {
  .footer__school {
    padding: 0;
  }
}
@media (max-width: 380px) {
  .footer__school {
    padding-top: 2px;
  }
}

.footer__social-links {
  padding: 0;
  padding-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 380px) {
  .footer__social-links {
    padding-top: 0;
  }
}

.social__item {
  margin-left: 25px;
  list-style: none;
}
.social__item:first-child {
  margin-left: 0px;
}

.social__icon {
  width: 28px;
  height: 28px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.icon_instagram {
  background-image: url("../assets/img/footer/instagram.svg");
}

.icon_fb {
  background-image: url("../assets/img/footer/fb.svg");
}

.icon_twitter {
  background-image: url("../assets/img/footer/twitter.svg");
}

.icon_pinterest {
  background-image: url("../assets/img/footer/pinterest.svg");
}

.welcome {
  background: #EDF2EC;
}

.welcome__wrapper {
  padding-top: 53px;
  padding-bottom: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .welcome__wrapper {
    padding-top: 33px;
    flex-direction: row-reverse;
    padding-bottom: 70px;
  }
}
@media (max-width: 380px) {
  .welcome__wrapper {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .img-leafs {
    width: 280px;
    height: 254px;
  }
}
@media (max-width: 380px) {
  .img-leafs {
    display: none;
  }
}

.welcome__content {
  max-width: 549px;
  padding-top: 44px;
}
@media (max-width: 768px) {
  .welcome__content {
    padding-top: 3px;
    max-width: 341px;
  }
}
@media (max-width: 380px) {
  .welcome__content {
    max-width: 100%;
    padding-top: 0;
  }
}

.h1__colored {
  color: #499A18;
}

.welcome__subtitle {
  max-width: 526px;
  padding: 44px 0px 47px 0px;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}
@media (max-width: 768px) {
  .welcome__subtitle {
    padding: 31px 0 35px 5px;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .welcome__subtitle {
    padding: 20px 0 26px;
    max-width: 100%;
  }
}

.about__wrapper {
  padding-top: 93px;
  padding-bottom: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about__wrapper {
    padding-top: 40px;
    padding-bottom: 89px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 380px) {
  .about__wrapper {
    padding-top: 30px;
    padding-bottom: 21px;
  }
}

.about__content {
  padding-top: 68px;
}
@media (max-width: 768px) {
  .about__content {
    padding-top: 0px;
    padding-bottom: 68px;
  }
}
@media (max-width: 380px) {
  .about__content {
    padding: 0;
  }
}

.about__title {
  max-width: 463px;
  padding-bottom: 38px;
}
@media (max-width: 768px) {
  .about__title {
    max-width: 423px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .about__title {
    max-width: 100%;
    padding-bottom: 13px;
  }
}

.title__colored {
  color: #E06733;
}

.about__text {
  max-width: 605px;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}
@media (max-width: 768px) {
  .about__text {
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .about__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .img-plant {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 380px) {
  .img-plant {
    width: 45.5%;
    height: 45.5%;
  }
}

@media (max-width: 380px) {
  .about__img {
    text-align: center;
  }
}

.service {
  background: #EDF2EC;
}

.service__header {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .service__header {
    padding-top: 60px;
    padding-bottom: 0px;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .service__header {
    padding-top: 30px;
  }
}

.service__title {
  max-width: 306px;
}
@media (max-width: 380px) {
  .service__title {
    max-width: 187px;
  }
}

.service__buttons {
  padding: 29px 0px 0px 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 38px;
  /*>.button {
      margin-left: 33px;
      &:first-child {
          margin-left: 0;
      }
  }*/
}
@media (max-width: 768px) {
  .service__buttons {
    gap: 37px;
    padding: 42px 0 40px;
  }
}
@media (max-width: 380px) {
  .service__buttons {
    padding-top: 38px;
    gap: 9px 10px;
  }
}

.service__cards {
  padding-bottom: 66px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .service__cards {
    padding-bottom: 32px;
  }
}
@media (max-width: 380px) {
  .service__cards {
    padding-bottom: 27px;
    justify-content: center;
  }
}

.service__card {
  padding-bottom: 55px;
}
@media (max-width: 768px) {
  .service__card {
    padding-bottom: 37px;
  }
}
@media (max-width: 380px) {
  .service__card {
    padding-bottom: 34px;
  }
  .service__card:last-child {
    padding-bottom: 0px;
  }
}

.card__img {
  border-radius: 20px 20px 0px 0px;
  display: block;
}
@media (max-width: 768px) {
  .card__img {
    display: none;
  }
}

.card__img-tablet {
  display: none;
}
@media (max-width: 768px) {
  .card__img-tablet {
    display: block;
    border-radius: 20px 20px 0px 0px;
  }
}

.card__content {
  padding: 9px 0 35px 0;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 768px) {
  .card__content {
    padding: 8px 0 20px 0;
  }
}
@media (max-width: 380px) {
  .card__content {
    padding: 9px 0 17px 0;
  }
}

.card__text {
  padding-top: 14px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #717171;
}
@media (max-width: 768px) {
  .card__text {
    max-width: 201px;
    padding-top: 11px;
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .card__text {
    padding-top: 12px;
  }
}

.prices__wrapper {
  padding-top: 39px;
  padding-bottom: 102px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
@media (max-width: 768px) {
  .prices__wrapper {
    padding-bottom: 75px;
  }
}
@media (max-width: 380px) {
  .prices__wrapper {
    padding-top: 25px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .prices__left-column {
    margin: 0 auto;
  }
}

.prices__title {
  padding-bottom: 60px;
  color: #000000;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 768px) {
  .prices__title {
    padding-bottom: 58px;
    padding-left: 15px;
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: bold;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .prices__title {
    padding-bottom: 37px;
    padding-left: 0;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    font-style: normal;
  }
}

.prices__dropdowns {
  max-width: 332px;
  padding: 17px 0;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 380px) {
  .prices__dropdowns {
    padding: 21px 0;
    max-width: 224px;
  }
}

.dropdown {
  width: 250px;
  padding: 16px 0 14px 0;
  margin: 16px 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #EDF2EC;
  border-radius: 20px;
}
@media (max-width: 380px) {
  .dropdown {
    width: 180px;
    margin: 7px 18px;
  }
}

.dropdown__arrow {
  width: 16px;
  height: 16px;
  margin-right: 40px;
  background: #D9D9D9;
  background-image: url("../assets/img/prices/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown__title {
  padding-left: 40px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}
@media (max-width: 380px) {
  .dropdown__title {
    padding-left: 30px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    font-style: normal;
  }
}

.prices__right-column {
  text-align: end;
}
@media (max-width: 768px) {
  .prices__right-column {
    padding-top: 101px;
  }
}
@media (max-width: 380px) {
  .prices__right-column {
    padding-top: 20px;
    text-align: center;
  }
}

.prices__subtitle {
  max-width: 452px;
  padding-bottom: 40px;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}
@media (max-width: 768px) {
  .prices__subtitle {
    max-width: 296px;
    padding-bottom: 28px;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: bold;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .prices__subtitle {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: bold;
    font-style: normal;
    max-width: 230px;
    padding-bottom: 19px;
  }
}

.subtitle__colored {
  color: #499A18;
}

.prices__img {
  padding-top: 39px;
  display: inline-block;
}
@media (max-width: 768px) {
  .prices__img {
    padding-top: 34px;
  }
}
@media (max-width: 380px) {
  .prices__img {
    display: none;
  }
}

.navigation {
  width: 492px;
  padding-right: 1px;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 380px) {
  .navigation {
    padding: 26px 0 10px 25px;
    display: block;
    position: absolute;
    left: 0;
    top: -100%;
    background-color: darkkhaki;
  }
  .header.open .navigation {
    top: 0;
  }
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #010201;
}
.navigation__link:hover {
  color: #E06733;
  font-weight: 700;
}

.contact-us {
  padding-top: 53px;
  background: #EDF2EC;
}
@media (max-width: 768px) {
  .contact-us {
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .contact-us {
    padding-top: 25px;
  }
}

.contact-us__wrapper {
  padding-bottom: 352px;
  text-align: right;
  background-image: url("./../assets/img/contact/woman.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .contact-us__wrapper {
    padding-bottom: 145px;
    text-align: center;
    background-size: 26%;
    background-position: 51.7% 100%;
  }
}
@media (max-width: 380px) {
  .contact-us__wrapper {
    padding-bottom: 14px;
    text-align: center;
    background-size: 26.2%;
    background-position: 49.2% 100%;
  }
}

.contact-us__title {
  padding: 7px 5px 36px 0;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 768px) {
  .contact-us__title {
    padding: 0;
    padding-bottom: 99px;
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .contact-us__title {
    padding-bottom: 80px;
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 700;
    font-style: normal;
  }
}

.contact-us__cities {
  width: 450px;
  height: 50px;
  text-align: right;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .contact-us__cities {
    width: 67%;
    margin: 0 auto;
    margin-bottom: 353px;
  }
}
@media (max-width: 380px) {
  .contact-us__cities {
    width: 92%;
    margin-bottom: 243px;
  }
}

.city__title {
  padding: 5px 20px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #717171;
}

.city__arrow {
  width: 16px;
  height: 16px;
  margin-right: 35px;
  background: #AEA1A1;
  background-image: url("../assets/img/contact/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .city__arrow {
    margin-right: 20px;
  }
}

.contact-us {
  padding-top: 53px;
  background: #EDF2EC;
}
@media (max-width: 768px) {
  .contact-us {
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .contact-us {
    padding-top: 25px;
  }
}

.contact-us__wrapper {
  padding-bottom: 352px;
  text-align: right;
  background-image: url("./../assets/img/contact/woman.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .contact-us__wrapper {
    padding-bottom: 145px;
    text-align: center;
    background-size: 26%;
    background-position: 51.7% 100%;
  }
}
@media (max-width: 380px) {
  .contact-us__wrapper {
    padding-bottom: 14px;
    text-align: center;
    background-size: 26.2%;
    background-position: 49.2% 100%;
  }
}

.contact-us__title {
  padding: 7px 5px 36px 0;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 768px) {
  .contact-us__title {
    padding: 0;
    padding-bottom: 99px;
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .contact-us__title {
    padding-bottom: 80px;
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 700;
    font-style: normal;
  }
}

.contact-us__cities {
  width: 450px;
  height: 50px;
  text-align: right;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .contact-us__cities {
    width: 67%;
    margin: 0 auto;
    margin-bottom: 353px;
  }
}
@media (max-width: 380px) {
  .contact-us__cities {
    width: 92%;
    margin-bottom: 243px;
  }
}

.city__title {
  padding: 5px 20px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #717171;
}

.city__arrow {
  width: 16px;
  height: 16px;
  margin-right: 35px;
  background: #AEA1A1;
  background-image: url("../assets/img/contact/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .city__arrow {
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */